<tr>
	<td><a title="<?cS description?>" href="<?cS location?>/contents.html"><?cS title ?></a></td> 
	<td title="<?cS modified_time ?>"><?cS modified ?></td>
	<td>
		<a href="<?cS location?>/">Start</a> 
		<a href="<?cS location?>/<?cS latest ?>" title="Chapter <?c "%d", ready ?>">Latest</a>
		<?C if(ready < numchaps) { ?>
		  <a href="../sneakpeek/<?cS location?>/<?cS bleeding_edge ?>" title="Beware: chapters being rewritten here! You may have to re-read them!">Sneak Peek</a>
    <?C } ?>
	</td>
</tr>
