[submodule "htmld"]
	path = htmld
	url = https://github.com/cyisfor/htmld
	branch = noescape
    fetchRecurseSubmodules = true
    ignore = untracked
[submodule "ddate"]
	path = ddate
	url = https://github.com/cyisfor/ddate
