[submodule "htmlish"]
	path = htmlish
	url = git://github.com/cyisfor/htmlish.git
	ignore = untracked
[submodule "cystuff"]
	path = cystuff
	url = git://github.com/cyisfor/cystuff.git
	ignore = untracked
[submodule "ctemplate"]
	path = ctemplate
	url = git://github.com/cyisfor/ctemplate.git
	ignore = untracked
[submodule "str_to_enum_trie"]
	path = str_to_enum_trie
	url = git://github.com/cyisfor/str_to_enum_trie.git
	ignore = untracked
[submodule "ddate"]
	path = ddate
	url = git://github.com/cyisfor/ddate.git
