<when censored>This must be safe for the censor.<else/>This can be whatever the fuck you want.</when>

<when !censored>If you just want to omit something the assholes would censor, you can do that too.</when>

<when not censored>This syntax isn’t especially smart, so don’t get fancy with it.</when>

<when !censored not><else/>What did I fucking say?</when>

<when not !censored>Still pretty stupid.</when>

<when not="1" stupid="1">XML sucks, by the way. Don’t assign values just to make attributes exist.</when>

<when something>something is <val/>!<else/>something isn’t</when>
<when something="silly">something is very <val/>!<else/>something isn’t silly.</when>

The environment variable “foo” <when foo>has<else/>has not</when> been set<when foo> to <val/></when>.

